* {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html {
  font-size: 20px;
}

.chunky-focus:focus {
  outline: 0;
  box-shadow:
    0 0 0 2px black,
    0 0 0 4px white;
}

.fixed-full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.Spinner {
  margin: 1em;
  width: 3em;
  height: 3em;
  border: 3px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: SpinSpinSpin 1s infinite cubic-bezier(0.72, 0.3, 0.82, 0.54);
}

@keyframes SpinSpinSpin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
