html {
  font-size: 20px;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.drop-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

.screenshot-shadow {
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}
